<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:jaxws="http://cxf.apache.org/jaxws"
  	   xmlns:jaxrs="http://cxf.apache.org/jaxrs"       
       xsi:schemaLocation="
       	http://www.springframework.org/schema/beans 
       	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://cxf.apache.org/jaxws 
        http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/jaxrs
		http://cxf.apache.org/schemas/jaxrs.xsd">
    
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
   
    <!-- Spring manage ServiceBean -->
    <bean id="webServ" class="eu.atosresearch.seiplab.yourbpm.bpmn20.service.webservice.Service" />
    <bean id="postsRest" class="eu.atosresearch.seiplab.yourbpm.bpmn20.service.rest.Resource"/>    
    
    <!-- JAX-RS Service Endpoint -->    
    <jaxrs:server id="BPMN20ManagerResource" address="/bpmn20Resource">  
        <jaxrs:serviceBeans>  
            <ref bean="postsRest"/>  
        </jaxrs:serviceBeans>  
        <jaxrs:extensionMappings>  
            <entry key="xml" value="application/xml"/>  
        </jaxrs:extensionMappings>  
    </jaxrs:server>   
<!--     JAX-WS Service Endpoint     -->
    <jaxws:endpoint id="BPMN20ManagerService" 
    				implementor="#webServ" 
    				address="/bpmn20Service" />

</beans>